<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if logged_in? %>
  <h1> <%= user.username %> </h1>
  <% end %>
    <%= yield %>
  <% if logged_in? %>
    <form action = "<%= session_url %>" method = "POST" >
    <input type = "hidden" name="_method" value= "Delete">
    <input type = "submit" value = "Log Out">
  <% else %>
    <a href = "<%= new_session_url %>">Log In</a>
  <% end %>
  </body>
</html>
